@use "vars";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  text-align: vars.$text-align;
}

/**
 * Basic styling
 */
body {
  font: vars.$base-font-weight #{vars.$base-font-size}/#{vars.$base-line-height} vars.$base-font-family;
  color: vars.$text-color;
  background-color: vars.$background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
h1 {
  @include vars.relative-font-size(1.625);
  font-weight: 300;
  line-height: vars.$base-line-height * vars.$base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: vars.$grey-color-dark;
  }
}
h2 {
  @include vars.relative-font-size(2);

  @include vars.media-query(vars.$on-laptop) {
    @include vars.relative-font-size(1.75);
  }
}

h3 {
  @include vars.relative-font-size(1.625);

  @include vars.media-query(vars.$on-laptop) {
    @include vars.relative-font-size(1.375);
  }
}

h4 {
  @include vars.relative-font-size(1.25);

  @include vars.media-query(vars.$on-laptop) {
    @include vars.relative-font-size(1.125);
  }
}
audio {
  display: block;
  margin: 0.5em auto;
}
hr {
  margin-bottom: 1.5rem;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
                                  rgba(0, 0, 0, 0),
                                  rgba(0, 0, 0, 0),
                                  rgba(0, 0, 0, 0.75),
                                  rgba(0, 0, 0, 0),
                                  rgba(0, 0, 0, 0));
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: vars.$spacing-unit * 0.5;
}

/**
 * `main` element
 */
main { display: block; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img { display: block; }
figcaption { font-size: vars.$small-font-size; }

/**
 * Lists
 */
ul, ol { margin-left: vars.$spacing-unit; }
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: vars.$title-font-family;
  font-weight: vars.$base-font-weight;
}

/**
 * Links
 */
a {
  color: vars.$brand-color;
  text-decoration: none;
  &:visited { color: vars.$brand-color; }
  &:hover, &:active { color: vars.$main-light; }
}

/**
 * Blockquotes
 */
blockquote {
  color: vars.$grey-color;
  border-left: 4px solid vars.$grey-color-light;
  padding-left: vars.$spacing-unit * 0.5;
  @include vars.relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  @include vars.relative-font-size(0.9375);
  border: 1px solid vars.$grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}
code { padding: 1px 5px; }
pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
main, header div, header figure, footer div {
  overflow: auto;
  max-width: -webkit-calc(#{vars.$content-width} - (#{vars.$spacing-unit} * 2));
  max-width:         calc(#{vars.$content-width} - (#{vars.$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: vars.$spacing-unit;
  padding-left: vars.$spacing-unit;
  @extend %clearfix !optional;

  @include vars.media-query(vars.$on-laptop) {
    max-width: -webkit-calc(#{vars.$content-width} - (#{vars.$spacing-unit}));
    max-width:         calc(#{vars.$content-width} - (#{vars.$spacing-unit}));
    padding-right: vars.$spacing-unit * 0.5;
    padding-left: vars.$spacing-unit * 0.5;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Tables
 */
table {
  margin-bottom: vars.$spacing-unit;
  width: 100%;
  text-align: vars.$text-align;
  color: lighten(vars.$text-color, 18%);
  border-collapse: collapse;
  border: 1px solid vars.$grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten(vars.$grey-color-light, 6%);
    }
  }
  th, td {
    padding: (vars.$spacing-unit * 0.3333333333) (vars.$spacing-unit * 0.5);
  }
  th {
    background-color: lighten(vars.$grey-color-light, 3%);
    border: 1px solid darken(vars.$grey-color-light, 4%);
    border-bottom-color: darken(vars.$grey-color-light, 12%);
  }
  td {
    border: 1px solid vars.$grey-color-light;
  }
}
