// Colors
$main:              #bc6c25;
$main-light:        #dda15e;
$back:              #fefae0;

// Define defaults for each variable.
$base-font-family:  "Libre Baskerville", serif !default;
$title-font-family: "Montserrat", sans-serif !default;
$base-font-size:    16px !default;
$base-font-weight:  400 !default;
$small-font-size:   $base-font-size * 0.875 !default;
$base-line-height:  1.5 !default;

$spacing-unit:      30px !default;

$text-color:        #111 !default;
$title-color:       $main !default;
$background-color:  $back !default;
$brand-color:       $main !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$text-align:        justify !default;

// Width of the content area
$content-width:     800px !default;

$on-palm:           600px !default;
$on-laptop:         1000px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
