---
sitemap: false
---

@charset "utf-8";

$font: "Libre Baskerville", serif;

$base-font-family: $font;
$headline-font-family: $font;
$title-font-family: $font;
$description-font-family: $font;
$meta-font-family: $font;

$accent-color: #00296b;

@import "so-simple";

.site-title { font-family: $font; }
.site-description { display: none; }
.page-title, .entry-title { font-style: normal; }
.page-content {
  text-align: justify;
  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.inline {
    display: inline;
    margin-right: 0.5em;
    height: 1em;
  }
}
.site-footer { border: none; }
audio {
  display: block;
  margin: 0.5em auto;
}
hr {
  margin-bottom: 1.5rem;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
                                  rgba(0, 0, 0, 0),
                                  rgba(0, 0, 0, 0),
                                  rgba(0, 0, 0, 0.75),
                                  rgba(0, 0, 0, 0),
                                  rgba(0, 0, 0, 0));
}

/**************************/
/* D&D 5e Character Sheet */
/**************************/
$dnd_gray: #e0e0e0;
@mixin bg($img) {
  background-color: transparent;
  background-image: url($img);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-overflow: visible;
}
#character-sheet {
  display: block;
  margin: 1em auto;
  width: 612px;
  font-family: "Noto Sans", "Helvetica", sans-serif;

  .header {
    width: 612px;
    height: 98px;
    @include bg("{{ '/assets/sheet/header-background.svg' | absolute_url }}");
    p {
      margin: 0;
      padding: 0;
      text-align: center;
    }
    div {
      float: left;
      &:first-child { // Left header
        width: 250px;
        height: 98px;
        @include bg("{{ '/assets/sheet/header-left.svg' | absolute_url }}");
        p {
          position: relative;
          top: 37px;
        }
      }
      &:last-child { // Right header
        width: 362px;
        height: 98px;
        @include bg("{{ '/assets/sheet/header-right.svg' | absolute_url }}");
        div.container {
          background: none;
          width: 304px;
          height: 50px;
          position: relative;
          top: 24px;
          left: 7px;
          p {
            text-align: center;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            float: left;
            &:nth-child(1) {
              font-size: 0.6em;
              width: 304px;
              height: 17px;
              border-bottom: solid 1px $dnd_gray;
            }
            &:nth-child(2) {
              font-size: 0.3em;
              width: 304px;
              height: 8px;
            }
            &:nth-child(3), &:nth-child(4) {
              font-size: 0.6em;
              width: 152px;
              height: 17px;
              border-bottom: solid 1px $dnd_gray;
            }
            &:nth-child(5), &:nth-child(6) {
              font-size: 0.3em;
              width: 152px;
              height: 8px;
            }
          }
        }
      }
    }
  }
  .body {
    width: 612px;
    .column {
      height: 453px;
      &:nth-child(1) {
        @include bg("{{ '/assets/sheet/body-abilities.svg' | absolute_url }}");
        width: 61px;
        float: left;
      }
    }
  }
}

/***************************/
/* D&D 5e Stat Block Style */
/***************************/
$header : #922610;
$h-line : #e69a28;
$body : #212121;
$back : #eee5ce;
$bar : $h-line;

.stat-block-container {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 13.5px;
  line-height: 1.2em;
  max-width: 50%;
  float: right;
  box-shadow: 0 0 0.75em rgba(10, 10, 10, 0.5);
  margin-bottom: 1.5em;

  &:last-child { margin-bottom: 0; }
  * {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .stat-block {
    text-align: justify;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    min-width: 280px;
    background: $back;
    padding: 5px 10px 20px;
  }

  .orange-border {
    display: block;
    background: $bar;
    border: 1px solid #000;
    height: 5px;
    padding: 0 10px 0;
    margin: -10px -10px 0;
    box-sizing: initial;

    &.bottom {
      margin: 15px -10px -20px;
    }
  }

  .tapered-rule {
    display: block;
    width: 100%;
    height: 5px;
    border: none;
    color: $header;
    fill: $header;
    stroke: $header;
  }

  .creature-heading {
    h1 {
      font-family: "Libre Baskerville", serif;
      color: $header;
      font-size: 23px;
      line-height: 1.2em;
      margin: 10px 0 0;
      letter-spacing: 1px;
      font-variant: small-caps;
      font-weight: bold;
    }

    h2 {
      font-family: "Noto Sans", sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.2em;
      margin: 0 0 10px;
    }
  }

  .property-line {
    text-indent: -1em;
    padding-left: 1.1em;
    line-height: 1.4em;

    &:first-child {
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 10px;
    }

    h4,
    p {
      display: inline;
      margin: 0;
      color: $body;
      font-size: 13.5px;
      line-height: 1.2em;
    }

    h4 {
      font-family: "Montserrat", sans-serif;
      font-variant: normal;
      color: $body;
      font-weight: 900;

      &:after {
        content: ".";
      }
    }

    p {
      color: black;
    }

    ul {
      list-style-type: none;
      text-indent: 2px;
    }
  }

  .abilities {
    text-align: center;
    color: $body;

    &>div {
      display: inline-block;
      vertical-align: middle;
      width: 15.5%;
      min-width: 40px;
      font-size: 12px;
      line-height: 1em;
    }

    & h4 {
      font-family: "Montserrat", sans-serif;
      margin: 10px 0 2px;
      font-size: 14px;
      line-height: 1.2em;
      text-transform: uppercase;
      color: $body;
      font-weight: bold;
    }

    & p {
      margin: 0 0 10px;
      line-height: 1.2em;
    }
  }

  .property-block {
    padding: 10px 2px 0;

    h4,
    p {
      font-size: 13.5px;
      line-height: 1.2em;
      display: inline;
      margin: 0;
    }

    & h4 {
      font-family: "Montserrat", sans-serif;
      font-variant: none;
      color: $body;

      &:after {
        content: ".";
      }
    }
  }

  .actions {
    margin: 0 0 20px;

    p {
      text-indent: 10px;
      margin-top: 5px;
    }

    h3 {
      border-bottom: 1px solid $header;
      color: $header;
      font-size: 21px;
      font-variant: small-caps;
      font-weight: normal;
      text-indent: 5px;
    }

    &:last-child {
      margin: 0;
    }
  }
}
