---
layout: page
---

<!-- 5e Character Sheet -->
<div id="character-sheet">
  <!-- ID Header -->
  <div class="header">
    <div>
      <p>{{ page.title }}</p>
    </div>
    <div>
      <div class="container">
        {% assign classes = page.classes | join: ', ' %}
        <p>{{ classes }}</p>
        <p>Classe &amp; Nível</p>

        <p>{{ page.species }}</p>
        <p>{{ page.align }}</p>
        <p>Espécie</p>
        <p>Alinhamento</p>
      </div>
    </div>
  </div>
  <!-- /ID Header -->
  <div class="body">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
<!-- /5e Character Sheet -->

{{ content }}